/*
 * LODAtlas Server
 * Copyright (C) 2015-2018 INRIA Hande Gözükan <hande.gozukan@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.selector-bar, .selector-rect {
	font: 500 9px Arial, Helvetica, sans-serif;
	/* 	font: 300 9px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	fill: #4076a5;
	/* 	fill: #dba870; */
	/* 	fill: #d1a661; */
	/* 	fill: #505083; */
	/* 	fill: #ccc; */
}

.selector-rect, .rect{
	opacity: 0.3;
}

.analytics-bar {
	font: 500 9px Arial, Helvetica, sans-serif;
	/* 	font: 300 9px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	fill: #d1a661;
}

.analytics-square {
	font: 500 9px Arial, Helvetica, sans-serif;
	/* 	font: 300 9px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	fill: #d1a661;
	opacity: 0.5;
}

.bar, .dataset-bar, .rect {
	font: 500 9px Arial, Helvetica, sans-serif;
	/* 	font: 300 9px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* 	fill: #FFA144; */
	/* 	fill: #a38c75; */
	fill: #f4b371;
}

.name, .dataset-name, .disappear, .additional-link {
	font: 500 9px Arial, Helvetica, sans-serif;
	/* 	font: 300 9px "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.name, .dataset-name {
	opacity: 1;
	/* 	fill: #505083; */
	fill: #27273f;
}

.additional-link {
	opacity: 1;
	fill: #8f5902;
}

.bar:hover, .name:hover, .incoming:hover,  .outgoing:hover, .inout:hover{
	cursor: pointer;
}

.disappear {
	/* 	fill: #8585e0; */
	/* 	fill: #7b959d; */
	fill: #af9d6a;
}

.hovered {
	font: 600 11px Arial, Helvetica, sans-serif;
	/* 	font: 600 10px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	fill: #2C2C47 !important;
	opacity: 1;
}

.edge-link {
	stroke: steelblue;
	stroke-opacity: .4;
	fill: none;
}

.link-disappear, .mark-link-disappear {
	stroke-width: 1px;
	fill: none;
}

.link-disappear {
	stroke: #8585e0;
	stroke-opacity: 0;
}

.mark-link-disappear {
	stroke: #af9d6a;
	stroke-opacity: 0.6;
}

.square {
	stroke: rgb(255, 255, 255);
	stroke-width: 0.5;
	opacity: 0.3;
}

.square-disappear {
	fill: #8585e0;
}

.fade {
	font-weight: 100;
	opacity: 0.2;
}

.fade-scatter {
	font-weight: 100;
	opacity: 0.5;
}

.selection-circle {
	opacity: 0.5;
	fill: red;
}

.square-hover {
	stroke: gray;
	stroke-opacity: 0.5;
}

.target-square {
	stroke: #375d95;
	stroke-opacity: 0.5;
}

.square--hovered {
	/* 	fill: #2C2C47; */
	stroke-opacity: 0.5;
	stroke: gray;
}

.source, .target, .both, .incoming, .outgoing, .inout {
	opacity: 1;
	font: 600 11px Arial, Helvetica, sans-serif;
	/* 	font: 600 11px "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.source, .incoming {
	fill: #db9797;
}

.both, .inout {
	fill: #b97eb3;
}

.target, .outgoing {
	fill: #99b2d8;
}

.source-link, .target-link, .both-link {
	stroke-opacity: 1;
	stroke-width: 1.5px;
}

.source-link {
	stroke: #db9797;
}

.both-link {
	stroke: #b97eb3;
}

.target-link {
	stroke: #99b2d8;
}

.xAxisG, .yAxisG text {
	font: 600 10px Arial, Helvetica, sans-serif;
	fill: steelblue;
}

.xAxisG path, .xAxisG line, .yAxisG path, .yAxisG line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.xAxis, .yAxis path {
	display: none;
}

.brush .extent {
/* 	border: black;  */
	stroke : #555753;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brush-handle {
	fill: red;
	stroke: black;
	stroke-width: 1px;
	opacity: .75;
}
