/*
 * LODAtlas Server
 * Copyright (C) 2015-2018 INRIA Hande Gözükan <hande.gozukan@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Move down body since navbar is fixed and has height 50px */
body {
	padding-top: 50px;
	font: 400 13px Arial;
}

.wait {
	cursor: wait !important;
}

/**
* top navigation style
*/
.navbar-fixed-top {
	border-width: 2px 0 2px 0;
}

.nav-button-local {
	padding-right: 30px;
}

.navbar, .navbar-inverse, .navbar-fixed-top {
	background: white;
	background-image: url("../img/lod_header.png");
	background-repeat: no-repeat;
	/* 	background-size: cover; */
	border: 15;
	border-color: #777;
	border: 15;
	color: #337ab7;
}

/* necessary to color brand text */
.navbar-inverse .navbar-brand {
	color: #337ab7;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover
	{
	color: #337ab7;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #337ab7;
}

.btn-default {
	color: #337ab7;
	background-color: #fff;
	border-color: #afcee9;
	padding-right: 10px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
	{
	color: #337ab7;
	/*     background-color:  #ebf3f9; */
	border-color: #337ab7;
}

/* .btn-default:hover, .btn-default:focus, .btn:hover, .btn:focus { */
/* 	color: green; */
/* 	background-color: red; */
/* 	border-color: #337ab7; */
/* } */
.navbar-nav>li>a {
	padding: 3px 4px 3px 4px;
	margin-right: 5px;
	margin-top: 13px;
}

/**
* overlay style
*/
.overlay {
	position: fixed;
	height: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5000;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
}

#message {
	font: 500 18px Arial;
	margin: 20px;
}

#overlay-container {
	position: relative;
	margin: 15px;
	background-color: white;
	/* 	margin: 15px; */
	/* 	margin-bottom: 15px; */
	padding: 30px;
}

#overlay-content {
	position: relative;
	/* 	height: 100%; */
	overflow-y: auto;
	/* 	box-shadow: 0 3px 5px #141414; */
	/* 	-webkit-box-shadow: 0 10px 5px -2px #888; */
	/* 	        box-shadow: 0 10px 5px -2px #888; */
	margin-bottom: 0;
	padding-bottom: 10px;
}

/**
* facet section style
*/
@media ( min-width : 768px) {
	.facet-list {
		position: fixed;
		min-width: 250px;
		top: 51px;
		bottom: 2px;
		left: 0;
		z-index: 1000;
		padding: 30px 0;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
		display: block;
	}
}

.main-view {
	position: fixed;
	min-width: 250px;
	top: 51px;
	bottom: 2px;
}

.facet-group-heading {
	font: 600 14px Arial;
	text-align: left;
	padding: 10px;
	margin: 0;
	background-color: #eee;
	border-top: 1px solid #e6e6e6;
}

#facet-group-header {
	margin-left: 10px;
}

.facet-group-item-list {
	display: block;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.facet-group-item-list>li {
	position: relative;
	display: block;
	border: 1px solid #eee;
}

#facet-item {
	position: relative;
	display: block;
	padding: 10px 15px;
}

#facet-item:hover {
	background-color: white;
}

#item-name {
	width: 65%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 500;
	color: #4076a5;
	display: inline-block;
}

.facet-message {
	padding: 10px 10px 5px 10px;
	font-weight: 300;
}

.facet-footer {
	padding: 10px 30px 0 30px;
	font-weight: 600;
	color: #4076a5;
	display: none;
}

.facet-footer:hover {
	cursor: pointer;
}

.main {
	padding: 30px 20px;
	/*   margin-top: 0; */
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

/**
* section style
*/
.main-section {
	margin-bottom: 20px;
}

.section-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.header {
	font-size: 23px;
	font-weight: 500;
}

.left-icon {
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 7px;
	float: left;
}

.left-icon:hover {
	cursor: pointer;
}

.right-icon {
	padding-right: 10px;
	padding-left: 0;
	padding-top: 7px;
	float: right;
}

.info:hover {
	cursor: help;
}

.section-content {
	padding: 0 20px;
	margin: 20px 0 30px 0;
}

.section-info {
	margin: 20px;
}

/**
* search section style
*/
#search-form {
	margin: 5px 0;
}

#search-part {
	padding-top: 20px;
}

#search-textbox {
	width: 50%;
	margin: 0px -10px 20px 0;
	padding: 7px 5px;
	border-radius: 5px;
}

#search-button {
	margin: 0 10px 20px 20px;
	padding: 7px 15px;
	border-radius: 5px;
}

#field-part {
	display: inline-block;
}

#advanced-search:hover, #simpler-search:hover {
	cursor: pointer;
}

.label-text {
	padding: 20px 10px 20px 30px;
	font-weight: 500;
	font-size: 14px;
	color: #555753;
}

#search-fields input {
	width: 13px;
	height: 13px;
	padding: 0;
	vertical-align: bottom;
	position: relative;
	overflow: hidden;
}

.check-field {
	margin-right: 10px;
	display: inline-block;
}

#search-result {
	margin: 13px 0 13px 0;
	height: 460px;
}

.result-info {
	padding: 0 10px 10px 0;
}

.result-text {
	padding-right: 10px;
	font-weight: 600;
	color: #765219;
}

.result-count {
	font-size: 13px;
	font-weight: 500;
	color: #555753;
}

.total-result-count {
	font-size: 13px;
	font-weight: 500;
	color: #555753;
}

.result-table {
	height: 350px;
	overflow-y: auto;
}

#add-selected {
	margin-top: 30px;
}

.table-row-selected {
	/* 	color: #a40000; */
	background-color: #e9b96e !important;
}

.table-row:hover, .table-striped>tbody>tr:nth-of-type(2n+1):hover {
	cursor: default;
	background-color: #e1dcd0;
}

.eye:hover {
	cursor: pointer;
}

.cell-number {
	text-align: right;
}

#search-analytics, #selection-analytics {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
	display: inline-block;
}

.button-class {
	padding: 7px;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #d3d7cf;
	border-radius: 5px;
	background-color: #ffffff;
}

.button-class:hover {
	cursor: pointer;
}

.magnify {
	margin: 2px;
}

.remove {
	margin-top: 0;
	padding-top: 0;
}

.remove:hover, .magnify:hover {
	cursor: pointer;
}

/* .sub-header { */
/* 	font-size: 18px; */
/* 	font-weight: 500; */
/* } */

/* .section-collapsed { */
/* 	height: 50px; */
/* } */
.label-selection {
	padding: 10px;
}

.menu-button {
	padding: 40px;
}

.filter-selector {
	height: 50px;
	width: 350px;
	min-width: 350px;
	padding: 10px;
	margin: 10px;
	margin-bottom: 30px;
	font-size: 13px;
	font-weight: 600;
	border-top: 1px solid #eeeeec;
	border-bottom: 1px solid #eeeeec;
	background-color: #F9F9F9;
	display: inline-block;
}

#filterlist {
	margin-left: 10px;
	margin-top: 2px;
	margin-right: 10px;
}

.selector-box {
	height: 30px;
	font-weight: 500;
	background-color: #ffffff;
	/* 	text-shadow:0 1px 0 rgba(0,0,0,0.4); */
	padding: 3px;
}

.details-shadow {
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.1;
	/* 	transition: 0.5s;	 */
}

#update-button {
	position: relative;
	top: 150px;
	width: auto;
	text-align: center;
	opacity: 1;
}

#update-details {
	width: 100px;
	height: 90px;
	opacity: 1;
	background-color: white;
}

.filter-view, .filter-time-view, .details-view, .details-view-time,
	.details-view-double-time, .analytics-view, .dataset-view,
	.analytics-time-view {
	border: 1px solid #AAC6DE;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
}

.filter-view, .analytics-view, .filter-time-view, .analytics-time-view {
	width: 98%;
	height: 300px;
	margin: 0% 1% 1% 0%;
}

.filter-time-view, .analytics-time-view {
	height: 130px;
}

.analytics-view {
	height: 200px;
}

.overlay-content-view {
	width: 100%;
	height: 90%;
	padding: 0 20px;
	margin: 20px 0 30px 0;
}

.overlay-content-chart {
	width: 100%;
	height: 100%;
}

.chart-view-menu {
	width: 100%;
	height: 30px;
	background-color: #ecf2f9;
	text-align: right;
	cursor: move;
}

.chart-title {
	float: left;
	font: 600 12px Arial;
	/* 	font: 600 12px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	padding: 7px 5px;
}

.filter-chart, .analytics-chart {
	height: 81%;
	margin: 1px;
}

.details-view {
	/* 	also update for chart accordingly */
	width: 30%;
	min-width: 415px;
	height: 430px;
	margin: 0% 1% 1% 1%;
}

.details-chart {
	width: 100%;
	height: 393px;
	margin: 1px;
}

.details-view-time {
	/* 	also update for chart accordingly */
	width: 100%;
	min-width: 415px;
	height: 130px;
	margin: 0% 1% 1% 1%;
}

.details-view-double-time {
	/* 	also update for chart accordingly */
	width: 100%;
	min-width: 415px;
	height: 287px;
	margin: 0% 1% 1% 1%;
}

.details-chart-time {
	width: 100%;
	height: 93px;
	margin: 1px;
}

.details-chart-double-time {
	width: 100%;
	height: 250px;
	margin: 1px;
}

.dataset-view {
	/* 	also update for chart accordingly */
	width: 47%;
	min-width: 550px;
	height: 430px;
	margin: 0% 1% 1% 1%;
}

.dataset-chart {
	width: 100%;
	height: 393px;
	margin: 1px;
}

.details-table-view {
	width: 100%;
	height: 425px;
	margin: 0% 1% 1% 1%;
	border: 1px solid #AAC6DE;
	border-radius: 0px 0px 10px 10px;
	display: block;
}

/* this has t come after views */
.chart-view-collapsed {
	height: 34px;
}

.dataset-list {
	position: static;
	width: 100%;
	padding: 10px 20px;
	overflow-y: auto;
}

.dataset-overlay {
	width: 100%;
	height: auto;
	margin: 0% 1% 1% 0%;
}

.analytics-header, .analytics-header-dataset {
	font-size: 13px;
	margin: 10px;
	padding-right: 20px;
}

.analytics-header {
	padding-left: 40px;
}

.analytics-header-dataset {
	margin-left: 0px;
}

.description {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	border: 1px solid #AAC6DE;
	border-radius: 3px;
	padding: 5px;
	position: relative;
}

.description-content {
	width: 100%;
	height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	font-weight: 500;
}

.description-content-visible {
	white-space: initial;
	height: auto;
}

#less-more-button {
	position: absolute;
	right: 5px;
	bottom: 5px;
	height: 20px;
	width: 40px;
	vertical-align: text-top;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	border: 1px solid lightgray;
	border-radius: 3px;
	color: #4076a5;
	z-index: 1005;
	opacity: 1;
	background-color: #ffffff;
}

#resources-content {
	height: 655px;
	overflow-y: auto;
}

#resources-submit-content {
	height: 326px;
	overflow-y: auto;
}

#links-submit-content {
	height: 326px;
	overflow-y: auto;
}

#rdf-summary-graph, #catalog-data, #vocabulary-graph {
	margin: 10px 5px;
}

.group-view {
	margin: 10px;
	width: 100%;
	border: 1px solid #AAC6DE;
	border-radius: 3px;
}

.group-view-heading {
	background-color: #ecf2f9;
	height: 30px;
	padding: 5px;
	font: 600 13px Arial;
	/* 	font: 600 13px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	color: #555753;
}

.group-view-body {
	padding: 10px;
}

#resource-header {
	height: 30px;
	background-color: #f3eed5;
	padding: 5px 5px 3px 10px;
	font: 700 12px Arial;
	/* 	font: 700 12px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	color: #555753;
}

.resources-column {
	padding: 0;
	height: 650px;
	border: 1px solid #AAC6DE;
	border-radius: 3px;
}

.resourcelist {
	width: 100%;
	height: calc(100% - 108px);
	overflow-y: auto;
}

.rdfsum-row {
	cursor: pointer;
}

.title-item {
	width: 150px;
}

.about-header, .submit-dataset-header {
	padding-left: 20px;
	height: 30px;
}

.resource-submit {
	height: 380px;
	margin: 10px 20px;
}

.link-submit {
	height: 230px;
	margin: 10px 20px;
}

footer {
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
	margin: 0;
	border: 0;
	/* 	background-color:  #888; */
	background-color: #333;
	color: #777;
	clear: both;
	text-align: center;
}

.waiting * {
	cursor: 'wait'
}

.add-part {
	margin: 10px;
	cursor: pointer;
}

.remove-part {
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 5px;
}

.simple-text {
	padding-left: 10px;
}

.add-dialog {
	display: none;
	margin: 15px 30px;
	border: 1px solid #AAC6DE;
	padding: 10px;
}

.submit-input {
	width: 100%;
}

.submit-button {
	margin: 5px;
	width: 90px;
	height: 30px;
	text-align: center;
}

div.logoFooter {
	clear: both;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid black;
	margin-top: 4em;
	padding-top: 10px;
	text-align: center;
}

div.logoFooter img {
	margin: 0 20px 0 20px;
}

.logoFooter a {
	text-decoration: none;
}

.logoFooter a {
	border: none;
}

.logoFooter a {
	background: transparent;
}

table#aboutStats {
	border-collapse: collapse;
}

#aboutStats th {
	text-align: right;
	padding-left: 1em;
	padding-right: 1em;
}

#aboutStats td {
	text-align: right;
	padding-top: .5em;
	padding-right: 1em;
}
