/*
 * LODAtlas Server
 * Copyright (C) 2018  INRIA Emmanuel Pietriga <emmanuel.pietriga@inria.fr>
 * Copyright (C) 2015-2018 INRIA Hande Gözükan <hande.gozukan@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
h2 {
	text-align: center;
}

.node circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

.node.highlight circle {
	stroke: #d78383;
	stroke-width: 3px;
}

.nodeLb text {
	fill: #555;
	cursor: default;
}

.nodeLb.highlight text {
	fill: #222;
}

.dragging {
	stroke: #111;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

.highlight {
	stroke-width: 3px;
	stroke-opacity: 1;
}
