/*
 * LODAtlas Server
 * Copyright (C) 2018  INRIA Emmanuel Pietriga <emmanuel.pietriga@inria.fr>
 * Copyright (C) 2015-2018 INRIA Hande Gözükan <hande.gozukan@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
div#heb, div#nld {
	height: 650px;
	overflow: hidden;
	border: 1px solid #AAC6DE;
	border-radius: 3px;
	margin: 0 1px;
}

div#proplist-heb, div#proplist-fd {
	float: left;
	width: 20em;
	height: 650px;
	border: 1px solid #AAC6DE;
	border-radius: 3px;
	margin: 0 1px;
}

div#propListPane-heb, div#propListPane-fd, div#propListPane-vocabularies {
	margin-top: 10px;
	cursor: default;
	/*     border:1px solid #EEE; */
	width: auto;
	height: calc(100% - 40px);
	overflow-x: auto;
	overflow-y: auto;
}

div.proplistitem {
	margin: 1px 6px;
	width: 95%;
}

.odd {
	background-color: #FFF;
}

.even {
	background-color: #EEE;
}

div.legend {
	float: left;
	margin: 3px 5px 2px 2px;
	border: 1px solid #AAA;
	width: 10px;
	height: 10px;
}
