/*
 * LODAtlas Server
 * Copyright (C) 2018  INRIA Emmanuel Pietriga <emmanuel.pietriga@inria.fr>
 * Copyright (C) 2015-2018 INRIA Hande Gözükan <hande.gozukan@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.node {
	font: 400 11px Arial, Helvetica, sans-serif;
/* 	font: 300 11px sans-serif; */
	fill: #bbb;
}

.node:hover {
	fill: #000;
}

.link {
	stroke: steelblue;
	stroke-opacity: .4;
	fill: none;
	pointer-events: none;
}

.node:hover, .node--source, .node--target {
	font-weight: 700;
}

.node--source {
	fill: #2ca02c;
}

.node--target {
	fill: #d62728;
}

.link--source, .link--target {
	stroke-opacity: 1;
	stroke-width: 2px;
}

.link--source {
	stroke: #d62728;
}

.link--target {
	stroke: #2ca02c;
}

/*------------------------------*/



div#status {
	text-align: right;
}
